


html{
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

a{
    text-decoration: none;
}
.fit-width {
    width: fit-content;
}
section{
    padding: 50px 0;
}
.max-width{
    width:560px;
}
.max-width-700{
    width: 860px;
}


  .navbar:not(.navbar-scrolled) {
    background-color: transparent !important;

  }
  .navbar-nav:not(.navbar-scrolled){
    color:black !important;
  }

  .navbar-scrolled {
    background-color: white !important; 
    color:black !important;

    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
  }
  .navbar-scrolled .nav-brd .nav-link.active::after{
    background-color: black ;
}

  .navbar-scrolled .nav-link{
    color: black !important;
  }
  .navbar-scrolled .navbar-brand{
    color: black !important;
  }
  nav .nav-link.active::after{
    width: 100% !important;
    background-color: white ;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../images/bg.jpg);
    background-position: center;
    background-size: cover;

}
nav .nav-brd .nav-link{
position: relative;
}
 nav .nav-brd .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    left: 0;
    bottom: 5;
transition: 0.5s ease;
    
}
#home i{
    font-size: 13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    color:white;
    padding: 10px;
}
.about-cont{
    background-color: #FBFBFB;
}
.light{
    background-color: #FBFBFB;

}
.about-progress {
    height:25px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;

}
.light h3{
    font-weight: 800;
    font-size: 30px;
}
.light span{
    color:
RGB(153, 153, 153);
font-size: 16px;
}
.light p{
    color:
    RGB(153, 153, 153);
    font-size: 17px;
}
.Jerry{

color:#748182;

}

.prog-paragragh{
    position: absolute;
    left:7;
    bottom:-13;
}


.progress-desc{
    position:absolute;
top:-3;
right:3;
}
.about-btn{
    background-color: black;
    color: white;
    padding:5px 15px ;
}
.about-btn:hover{
    background-color: transparent;
    color: black;
}
.about-btn-2 {
    padding:5px 15px ;
    
}
.card-text{
    color:#748182;
    font-size: 15px;
}
.services{
    background-color: #F7F7F7;
}
.services .card{
    border-radius: 5px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    background: #fff;
    border:none;
}
.service-icon{
    width:70px;
    height:70px;
    border-radius: 50%;
    background-color: #F7F7F7;
    transition: 0.5s;
}
.service-caption h3{
position: relative;
z-index: 4;
font-size: 40px;
font-weight: 900;
}
.service-caption h3::after{
    content:"";
position: absolute;
width:100%;
height:30px;
background-image: url(../images/dots.png);
left:0;
bottom:-10;
z-index: -1;
    }
    .service-icon:hover{
background-color:black ;
color: white;
    }
    .portfolio-caption h3{
position: relative;
z-index: 4;
font-size: 40px;
font-weight: 900;
    }
    .portfolio-caption h3::after{
        content:"";
        position: absolute;
        width:100%;
        height:30px;
        background-image: url(../images/dots.png);
        left:0;
        bottom:-10;
        z-index:-1;
    }
    .nav-portfolio .nav-link{
        color: black;
        font-weight: bold;
        transition: 0.3s;
        background-color: transparent;
        border: none;
        position: relative;
    }
    .nav-portfolio .nav-link.active{
        background-color: transparent;
        color:black;
        
    }
    .nav-portfolio .nav-link.active::after{
        content:"";
        position: absolute;
width: 100%;
height: 2px;
left: 0;
bottom: 0;
background-color: black;
    }

.work-img{
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: 0.6s ease-out;
}
.work-img:hover{
    border: 6px solid #D7D5D6;
}
.work-img .work-overlay{
position:absolute;
inset:0;
background-color: transparent;
}
.work-img .work-overlay:hover{
    background-color: white;
}
.work-img .work-caption{
    position: absolute;
    top:-70;
}
.work-img:hover .work-caption{
left:50%;
top:50%;
transform: translate(-50%,-50%);
}
.work-icons i{
    width:30px;
    height:30px;
    background-color: #1C1C1C;
    border-radius: 50%;
    padding: 15%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}
.work-icons a{
    text-decoration: none;
    color:white;
}
.work-icons i:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}
.testimonials{
    background-color: #F7F7F7;
}
.img-inner{
    width: 10%;
    border-radius: 50%;
}
.text-testimonial{
    color: #748182;
    font-size: 15px;
    max-width: 860px;
    font-size: 17px;
    line-height: 24px;

}

.carousel-inner span{
    font-size: 14px;
    font-weight: 600;
    color: #888;
}
.btn-carousel{
    width:10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #748182 !important;
}

.our-projects{
    background-color: white;
}
.proj-paragragh{
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.our-projects-text h3{
    font-size: 33px;
    font-weight: 900;
}
.our-projects-text p{
    font-size: 15px;
    font-weight: 600;
    color:#748182;
}
.team{
    background-color: #F7F7F7;
}
.team-caption h3{
    position: relative;
    z-index: 4;
    font-size: 40px;
    font-weight: 900;
}
.team-caption h3::after{
    position: absolute;
    content:"";
    width:100%;
    height:30px;
    background-image: url(../images/dots.png);
    left:0;
    bottom:-10;
    z-index:-1 ;
}
.team-desc{
    background-color: #5B5B5B;
    color:white;
    overflow: hidden;
}
.team-desc h4{
font-size: 25px;
font-weight: 500;
}
.team-desc h5{
    font-weight: bold;
}
.team-img{
position: relative;
overflow: hidden;
}
.team-img:hover img{
transform: scale(1.2,1.2);
}

.tam-img img{
transition:scale 1s ease-in;

}

.team-img .team-layer{
    background-color: transparent;
    position: absolute;
    transition:0.7s ease;

}
.team-img:hover .team-layer{
    background-color: rgba(255, 255, 255, 0.95);;
    top:5;
    bottom:5;
    left:5;
    right:5;
    transform: rotateY(-180deg);
}
.team-img .team-icons{
    position: absolute;
    top:-200;
}
.team-img:hover .team-icons{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.team-icons a{
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    padding: 7px;
    margin: 0px;
}
.team-icons a:hover{
    background-color: white;
    color: black;
    border:1px solid black;
    border-radius: 50%;
}
.contact-caption h3{
position: relative;
z-index: 4;
font-size: 40px;
font-weight: 900;
}
.contact-caption h3::after{ 
    position: absolute;
    content:"";
    width:100%;
    height:30px;
    background-image: url(../images/dots.png);
    left:0;
    bottom:-10;
    z-index: -1;
}
.contact-icon{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: #F7F7F7;
    transition: 0.5s;

}
.contact-icon:hover{
    background-color: black;
    color: white;
}
.contact-row p{
    font-size: 15px;
    color: #748182;
}
.contact-row a{
    font-size: 15px;
    color: #748182;
    text-decoration: none;
}
.contact .form-control{
    border-radius: 5px !important;
    padding: 10px !important;
    background-color:#F4F4F4  !important;
    border:none;
}
.contact-form{
   max-width: 95%; 
max-height: 160px;
height: 150px;
resize: both;
overflow: hidden;
}
.contact .form-control{
        border-color: transparent;
        outline: 0;
        box-shadow: none;
}
.contact .form-btn{
    padding:10px 40px;
}
.contact .form-btn{
background-color: black;
color: white;
}
.contact .form-btn:hover{
    background-color: white;
    color: black;
    }
    footer{
        background-color: #1C1C1C;
    }
    .footer p{
        color: #748182;
        font-size: 13px;
    }